* {
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background:#7393B3;
    }
h1 {
    color:#4D5F64;;
}

h2 {
    color:#48757F
}

h3 {
    color:#48757F;
}

h1, h2, h3 {
    margin-bottom:10px;
}

img {
    float:right;
    width:300px;
    padding:30px; 
    margin: 0 0 20px 20px;
    border:#4D5F64 10px solid;
}

ul, ol, dl {
    margin: 0 0 10px 20px; /*top right bottom left */
}

div#wrapper{
    width:940px;
    margin:0 auto 0 auto;
    background:#D5DAB8;
    padding:20px;

}

p {
    margin-bottom:20px;
    color:black;
}
